.exp{
    height: auto;
}

.experience>h2{
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

.experience>span{
    color: var(--color-slate);
    font-size: 15px;
    font-weight: 550;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.skill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}


.frontend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 600px;
    cursor: pointer;
    /* animation: slide 1s ease; */
}

.frontend>h3{
    color: var(--heading-two);  
    font-weight: 800;
    font-size: 30px;  
}

.front{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
}

.front-text{
    display: flex;
    flex-direction: column;
}

.front-cenc{
    color: white;
    font-size: 18px;
    font-weight: 550;
}

.front-exp{
    color: var(--color-secondary-main);
    font-size: 14px;
    font-weight: 400;
    margin-top: -10px;
    text-align: left;
}

.down-arrow{
    color: var(--heading-two);
    font-size: 23px;
    font-weight: 600;
    padding-left: full;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 8.5rem;
}

.list-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 10rem; */
    color: var(--color-secondary-main);
    font-size: 14px;
}


.percentage{
    width: 15rem;
    height: 5px;
    background-color: #73bbac;
    border-radius: 2rem;
    margin-top: -7px;
    position: relative;
}

.percentage .percentage-para1{
    position: absolute;
    height: 100%;
    background-color: var(--heading-two);
    animation: progress-animation1 2s forwards;
}

@keyframes progress-animation1 {
    0% {width: 0%;}
    100% {width: var(--width);}    
}

/* ================ MEDIA QUERIES(SMALL DEVICES)==================== */
@media (max-width: 768px){
    .exp{
        margin-top: 20rem;
        margin-bottom: 7rem;
    }

    .skill{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .frontend{
        width: 40px;
        height: auto;
        
    }

    .front{
        max-width: 10px;
        display: flex;
        margin-right: 13rem;
    }

    .list{
        margin-left: -4rem;
        margin-bottom: 2rem;
    }

}



