.about{
    display: flex;
    height: 77vh; 
    margin-bottom: 8rem;
    margin-top: 3rem;
}

.a-about{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;  
    margin-top: 3rem;
}

.a-about>:nth-child(1){
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3rem;
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

.a-about>:nth-child(2){
    color: var(--color-slate);
    font-size: 15px;
    font-weight: 550;
    margin-top: -20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.about-text{
    display: flex;
    flex-direction: column;
    color: var(--color-secondary-main);
    font-weight: 500; 
    gap: 10px;
    text-align:justify;
}

.a-cards{
    flex: 1;
    margin-left: 7rem;
    display: flex;
    position: relative;
    flex-direction: row;
}

.a-cards>*{
    position: absolute;
}

/* ================ MEDIA QUERIES(SMALL DEVICES)==================== */
@media (max-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
    }

    /* .a-about>:nth-child(1){
        color: var(--color-secondary);
        font-weight: bold;
        font-size: 2rem;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    } */

    .about-text{
        margin-left: -2rem;
        margin-right: -2rem;
    }

    .a-cards{
        margin-left: -4rem;
        margin-top: 3rem;
        display: flex;
    }
}

/* ================ MEDIA QUERIES(MEDIUM DEVICES)==================== */
/* @media (max-width: 1024px){
    .about-text{
        margin-left: -1px;
    }

    .a-about{
        flex: auto;
        gap: -10px;
    }
    .a-cards{
        margin-left: -10px;
        margin-top: 3rem;
        margin-right: 7rem;
        display: flex;
       
    }
} */
