.about{
    display: flex;
    height: auto; 
    margin-bottom: 8rem;
    margin-top: 3rem;
}

.a-about{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;  
    margin-top: 3rem;
}

.a-about>:nth-child(1){
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3rem;
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

.a-about>:nth-child(2){
    color: var(--color-slate);
    font-size: 15px;
    font-weight: 550;
    margin-top: -20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.about-text-content{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    justify-content: center;
    color: var(--color-secondary-main);
    font-weight: 500; 
    gap: 10px;
    text-align:justify;
    max-width: 800px;
}


.technologies{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 8px;
}

.tech-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 6px;
}

.tech-detail:nth-child(2){
    margin: 0px;
    margin-bottom: -2px;
}

.about-tech{
    color: var(--color-slate) ;
    margin-left: 10px;
}

/* ================ MEDIA QUERIES(SMALL DEVICES)==================== */
@media (max-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
        margin-top: -1rem;
    }
    .about-text{
        margin-left: -2.5rem;
        margin-right: -2rem;
        min-width: 100px;

    }

    .about-text-content{
        text-align: justify;
        display: flex;
        
    }

    .technologies{
        font-size: 14px;
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }

}

/* ================ MEDIA QUERIES(MEDIUM DEVICES)==================== */ 
@media (max-width: 1024px){
    .about-text-content{
        margin-left: -1px;
    }

    .about{
        height: auto;
    }
}
