/* @keyframes slide{
    0%{
        transform: translate(90px, 0px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slide1{
    0%{
        transform: translate(0, 100px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
} */

.contact{
    height: 90vh;  
}

.contact>h2{
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3rem;
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

.contact>span{
    color: var(--color-slate);
    font-size: 15px;
    font-weight: 550;
    margin-top: -20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.c-container{
    margin-top: 3rem;
    width: 58%;
    display: flex;
    align-items: center;
    gap: 20%;
}

.c-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 15rem;
    margin-top: -4rem;
}

.c-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.c-option-icon{
    font-size: 24px;
    color: var(--color-main);
}

/* .c-email{
    animation: slide 2s ease;
} */

.c-email>h4{
    color: var(--color-secondary);
    margin-bottom: -20px;
    font-weight: 600;
    font-size: 15px;
}

.c-email> h5{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: -2rem;
    /* animation: slide1 2s ease; */
}

input, textarea{
    width: 20rem;
    padding: 1rem;
    border-radius: 5px;
    background:transparent;
    border: 1px solid var(--color-icon);
    resize: none;
}

form ::placeholder{
    color: var(--color-icon);
    font-size: 16px;
    font-weight: 500;
}

