@keyframes slide {
    0%{
        transform: translate(100px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
} 

.n-wrapper {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--color-bg);
    background:blur(40px);
    margin-top: -8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    padding: 9px;
}

.n-left {
    display: flex;
    align-items: center;
}

.n-name>a {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5.2rem;
    color: var(--color-main);
    text-decoration: none;
}

.n-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;

}

.n-list {
    margin-right: 4rem;
}

.n-topic {
    display: flex;
    gap: 2rem;
}

.n-topic>a {
    color: var(--color-icon);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    animation: slide 2s ease;
}

.n-topic>a:hover {
    cursor: pointer;
    color: var(--color-slate);
}

span {
    margin-left: 1rem;
}





/* ================ MEDIA QUERIES(SMALLER DEVICES)==================== */ 
@media (max-width: 600px){
    .toggle-button{
        margin-right: 2rem;
    }
    
    .nav-button{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #112240;
        transition: transform 0.3s ease-in-out;
    }
    
    .open-button{
        text-decoration: none;
        transition: 3s ease-in-out;
    }
    
    .open-button>button{
        border: none;
        text-decoration: none;
        background-color: var(--color-bg);
        color: var(--color-slate);
        font-size: 30px;
    }
    
    .close-button{
        margin-top: 18px;
        margin-left: 10rem;
        text-decoration: none;
    }
    
    .close-button>button{
        border: none;
        text-decoration: none;
        background-color: #112240;
        color: var(--color-slate);
        font-size: 30px;
    }
    
    .nav-link{
        width: 15rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        font-size: 18px;
    }
    
    .nav-link>a{
        text-decoration: none;
        color: var(--color-secondary);
    }
    
    .nav-link>a:hover{
        text-decoration: underline;
    }
    
    .n-left{
        margin-left: -3.5rem;
    }

    .n-right{
        display: none;
    }

    .open-button{
        margin-left: 12rem;
    }
}

/* ================ MEDIA QUERIES(MEDIUM DEVICES)==================== */ 
@media (min-width: 601px), (max-width: 1024px) and (min-width:1080px){
    .open-button{
        display: none;
    }
    .nav-right{
        display: none;
    }
}