:root {
    --nepal: #84A7BA;
    --blue: #ADD8E6;
    --name: #edf5e1;
    --heading-two: #379683;
    --color-bg: #0A192F;
    --color-main: #64FFDA;
    --color-secondary: #CCD6F6;
    --color-secondary-main: #A8B2D1;
    --color-icon: #A8B2D1;
    --color-slate: #48c3aa;
    --light-navy: #112240;
    --navy-shadow: rgba(2,12,27,0.7);


    --transition: all 400ms ease;

    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px Orgba(0, e, 0, 0.08);

}

html{
    scroll-behavior: smooth;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}


.text-light{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-icon);
}

.App {
    padding-top: 0.5rem;
    overflow: hidden;
    background: var(--color-bg);
    
}

.container{
    margin-left: 5rem;
    margin-right: 5rem;
}

.button{
    border-radius: 5px;
    border: 1px solid var(--color-slate);
    color:var(--color-slate);
    font-size: 14px;
    /* margin: 12px; */
    background: var(--color-bg);
    width: 6rem;
    max-height: 3rem;
}

.button:hover{
    cursor: pointer;
}